[Desktop Entry]
version=1.0
Type=Application
Terminal=true
Exec=bash -i -c "source ~/.bashrc && ros2 launch abu_core bringup.launch.py"
Name=Robot Bring up
