[Desktop Entry]
version=1.0
Type=Application
Terminal=true
Exec=bash -i -c "source ~/.bashrc && cd ~/abu2024_ws && docker compose up -d"
Name=Robot Bring Up
